doctype html
html
  head
    title Welcome to our service!
  body
    p(style='font-size: 16px;')
      | Dear 
      b #{username}
      | , welcome to our service!
    p We are excited to have you on board.