.auth {
  &-container {
    width: $formWidth;
    border-radius: 25px;
    margin: 1rem 0;
  }
}
.form-group {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  label {
    display: block;
    font-size: 1rem;
    color: rgb(199, 197, 197);
    margin-bottom: 0.25rem;
  }
}
.or-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
}

.or-text {
  margin: 0 10px;
  font-size: 14px;
  color: #999;
}
@layer components {
  .input-container{
    @apply w-full min-w-0 rounded-md dark:text-primary-text bg-transparent border dark:border-gray-200 border-gray-600 dark:placeholder-gray-500 focus:outline-none relative z-10 dark:hover:border-gray-400 focus:border-primary-500 text-base leading-6 px-3 py-2
  }
  .search-container{
    @apply text-gray-400 p-2 border-none placeholder-gray-500 rounded md:w-[calc(100vw-10rem)] w-[80vw] hover:border-gray-400 focus:outline-pink-500
  }
}