@import "variables";
.answer {
  width: 100%;
  background: $testBackground;
  flex: 1 0 300px;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  text-align: center;
  cursor: pointer;
  &.selected {
    background: yellow;
  }
  &.correct {
    background: rgb(23, 221, 33);
    color: white;
    animation: flicker 3s ease-in-out;
  }
  &.incorrect {
    background: red;
  }
}
.question {
  &-container {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    margin: 0 auto;
  }
}
@keyframes flicker {
  0%,
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    background: greenyellow;
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background: rgb(23, 221, 33);
  }
}
.quiz {
  &-container {
    background: $testBackground;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 0.5rem;
    height: 30rem;
    width: 30rem;
    position: relative;
    img {
      width: 100%;
      max-height: 60%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
@layer components{
  .correct-choice {
    @apply bg-[#09ff00];
  }
  .incorrect-choice {
    @apply bg-red-600;
  }
  .option {
    @apply  hover:bg-orange-700 px-4 py-2 rounded-lg border-[1px] border-gray-300 border-solid w-full dark:text-gray-300 min-w-[20rem]
  }
}
.showScore {
  animation: showScore 2S ease-in-out;
}
.flicker {
  animation: flicker 1s ease-in-out;
}
@keyframes showScore {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  10% {
    opacity: 1;
    transform: translateY(50px);
  }
  20%, 30%, 40%, 50%, 60%, 70%, 80%, 90% {
    opacity: 1;
    transform: scale(2);
  }
  25%, 35%, 45%, 55%, 65%, 75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }

}
@keyframes flicker {
  0%,
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    background: #0a9b05;;
  }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    background: #09ff00;;
  }
}
.fade-in {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}


@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.blue-gradient{
  background: rgb(14,85,154);
  background: linear-gradient(0deg, rgba(14,85,154,1) 0%, rgba(2,44,84,1) 100%);
}
.splide__arrow {
  top: 38% !important;
  width: 1.5em !important;
}
.splide.is-initialized, .splide.is-rendered {
  padding-top: 0.5rem !important;
}
.splide {
  padding-left: 1.5vw !important;
  padding-right: 1.5vw !important;
}