$primaryColor: #1e1a22;
$secondaryColor:#584766;
$borderSecondaryColor: #9465ca;
$errorColor: #f33939;
$yellowBackground: #ffcf03;
$darkBackground: #1e072e;
$formWidth: 40vw;
$lightGray: #e4e0e0;
$darkGray: #818080;
$linkColor: #2d6dc0;
$testBackground: #c7cbd8;
