@import "variables";

.primary-button {
  background: $primaryColor;
  padding: 0.5rem 1rem;
  text-align: center;
  color: white;
  font-weight: 500;
  width: 100%;
}
.input {
  background-color: rgb(228, 221, 221);
  color: rgb(41, 41, 41);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  width: 100%;
  border: 2px solid $borderSecondaryColor;
  position: relative;
}
input::placeholder {
  color: rgb(88, 86, 86);
  font-style: italic;
}
.error {
  color: $errorColor;
}
a {
  color: $linkColor !important;
}
